11.1 Create a Python file named zoo.py and define the hours function in it.

In [ ]:
def hours():
    print("Open 9-5 daily")

Open your terminal or command prompt.
Launch the Python interpreter by typing: python

In [ ]:
>>> import zoo
>>> zoo.hours()
Open 9-5 daily

11.2 In the Python shell, use the as keyword to import the module with an alias

In [ ]:
>>> import zoo as menagerie
>>> menagerie.hours()
Open 9-5 daily

16.8

In [ ]:
from sqlalchemy import create_engine, MetaData, Table, select

# Connect to the SQLite database
engine = create_engine('sqlite:///books.db')
connection = engine.connect()
metadata = MetaData()

# Reflect the book table
book_table = Table('book', metadata, autoload_with=engine)

# Query to select and order the title column
query = select(book_table.c.title).order_by(book_table.c.title)
result = connection.execute(query)

# Print the titles
for row in result:
    print(row.title)